# MySQL container variables (used by docker-compose.prod.yml)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Certbot contact 
LETSENCRYPT_EMAIL=

DATABASE_URL=

BITBANKER_API_KEY=
BITBANKER_API_SECRET=
BITBANKER_BASE_URL=
